.appleItem {
    width: 98%;
    margin: 10px auto;
    border-radius: 4px;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .apple {
        flex-grow: 2;
        padding: 10px 3px;
    }
    .info {
        flex-grow: 16;
        .name {
            padding: 10px 3px;
            font-size: 12px;
            color: #dcdcdc;
            font-weight: 500;
        }
        .weight {
            padding: 3px 3px;
            font-size: 12px;
            font-weight: 200;
            color: #c09853;
        }
    }
    .btn-div {
        flex-grow: 3;
        button {
            width: 90%;
            border: none;
            background-color: #aa0000;
            color: #fff;
            font-size: 12px;
            cursor: pointer;
            padding: 10px 3px;
            border-radius: 6px;
            margin: 3px auto;
            outline: none;
        }
        button:hover {
            background-color: #aa0060;
        }
    }
}